<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <div>
        <form method="post" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
            <label for="form_file">Допустимые форматы: .csv</label>
            <input type="file" id="form_file" name='file' placeholder="Перетащите файл">
            <input type="submit" placeholder="Генерировать поздравления">
            {% for error in get_flashed_messages() %}
            <h1>{{ error }}</h1>
            {% endfor %}
        </form>

    </div>
</body>
</html>